[Desktop Entry]
Name=Firefox Developer Edition
GenericName=Web Browser
Exec=/opt/firefox-dev/firefox %u
Icon=/opt/firefox-dev/browser/chrome/icons/default/default128.png
Terminal=false
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+x>
StartupNotify=true
Categories=Network;WebBrowser;
Keywords=web;browser;internet;
Actions=new-window;new-private-window;
StartupWMClass=firefox-aurora

[Desktop Action new-window]
Name=Open a New Window
Exec=/opt/firefox-dev/firefox %u

[Desktop Action new-private-window]
Name=Open a New Private Window
Exec=/opt/firefox-dev/firefox --private-window %u